{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agency.css') }}">
{% endblock %}

{% block title %}
<title>Agencies</title>
{% endblock %}

{% block body %}
<h1>Agencies</h1>
<div class="agency__container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        {% if is_admin() %}
        <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for agency in agencies %}
      <tr>
        <td>{{agency.name}}</td>
        <td>{{agency.department}}</td>
        {% if is_admin() %}
        <td>
          <a href="/agency/edit/{{agency.id}}" class="btn btn-outline-warning">Edit</a>
          <a href="/agency/delete/{{agency.id}}" class="btn btn-outline-danger">Delete</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
      {% if is_admin() %}
      <tr>
        <td></td>
        <td></td>
        <td><a href="/agency/create" class="btn primary-button">Add new agency</a></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}