{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agency.css') }}">
{% endblock %}

{% block title %}
<title>Agencies</title>
{% endblock %}

{% block body %}
<div class="agency__container">
  <h1>Edit Agency</h1>
  <form class="row" method="post" action="/agency/edit/{{agency.id}}">
    <div class="col-4 offset-4">
      <h3>Main Information</h3>
      <!-- Agency Name -->
      <div class="form-group">
        <label for="agencyName" class="form-label">{{form.name.label}}</label>
        {{form.name(class="form-control", value=agency.name)}}
      </div>
      <!-- Agency Department -->
      <div class="form-group">
        <label for="agencyDepartment" class="form-label">{{form.department.label}}</label>
        {{form.department(class="form-control", value=agency.department)}}
      </div>
      <!-- Agency Button Create -->
      <div class="form-group">
        <button type="submit" class="btn primary-button">Edit Agency</button>
      </div>
    </div>
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
  </form>
</div>
{% endblock %}