.agency__container {
  height: 100%;
}

.agency-button {
  background-color: #88CA5E;
  border-color: #88CA5E;
  margin-top: 20px;
  color: white;
}

.agency-button:hover {
  background-color: #1D741B;
  border-color: #1D741B;
  margin-top: 20px;
  color: white;
}

form {
  border: none;
  margin-top: 0;
  padding: 0;
}

.form-group {
  padding-bottom: 5px;
}

h1, h3 {
  text-align: center;
  color: #1D741B;
  margin-top: 20px;
}