.agency__container {
  height: 100%;
}

.agency-button {
  background-color: var(--primary_green);
  border-color: var(--primary_green);
  margin-top: 20px;
  color: white;
}

.agency-button:hover {
  background-color: var(--secondary_green);
  border-color: var(--secondary_green);
  color: white;
}

form {
  border: none;
  margin-top: 0;
  padding: 0;
}

.form-group {
  padding-bottom: 5px;
}

h1, h3 {
  text-align: center;
  color: var(--secondary_green);
  margin-top: 20px;
}