:root{
  --primary_green: #90B319;
  --secondary_green: #1D741B;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .green
{
    color: var(--primary_green);
}
nav .navbar-brand .rose
{
    color: #F1C0B9;
}

/* Colors for nav li */
nav ul li a {
  color: #1D741B;
}

button {
  background-color: var(--primary_green);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* https://www.canva.com/colors/color-palettes/watermelon-and-stripes/ */