:root{
  --primary_green: #90B319;
  --secondary_green: #1D741B;
  --primary_rose: #F1C0B9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .green
{
    color: var(--primary_green);
}

nav .navbar-brand .rose
{
    color: var(--primary_rose);
}

/* Colors for nav li */
nav ul li a {
  color: var(--secondary_green);
}

.primary-button {
  background-color: var(--primary_green);
  border: 0px;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.primary-button:hover {
  background-color: var(--secondary_green);
  border: 0px;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.general_container {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}

/* https://www.canva.com/colors/color-palettes/watermelon-and-stripes/ */
.navbar__container {
  background-color: var(--primary_green);
}

.navbar__container a {
  color: white;
}

.navbar__container a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-brand:hover {
  text-decoration: none !important;
}

.navbar-brand span {
  font-weight: 600;
  text-shadow: #000000 1px 0 1px;
}

.app__container {
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: var(--primary_green);
  text-align: center;
  color: white;
  font-weight: 500;
}

.footer-bottom {
  padding: 1rem;
}

/* #notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 0 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 150px;
  line-height: 150px;
  margin-bottom: 25px;
}

.notfound h2 {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.notfound p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
} */