.monument__container {
  height: 100%;
}

.monument-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.monument-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  margin: 8px;
}

.monument-img-container {
  overflow: hidden;
  height: 300px;
}

.monument-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.monument-body {
  padding: 20px;
}

button {
  margin-left: 5px;
}

.btn-read-more {
  background-color: var(--primary_green);
  border-color: var(--primary_green);
  color: white;
}

.btn-read-more:hover {
  background-color: var(--secondary_green);
  border-color: var(--secondary_green);
  color: white;
}

.disabled {
  pointer-events:none;
  opacity:0.4;
}

form {
  border: none;
  margin-top: 0;
  padding: 0;
}

.form-group {
  padding-bottom: 5px;
}

h1, h3 {
  text-align: center;
  color: var(--secondary_green);
  margin-top: 20px;
}

.details-monument-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  border-radius: 10px;
  margin-bottom: 20px;
}

.details-img-container {
  overflow: hidden;
  height: 400px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.details {
  display: flex;
  flex-direction: row;
  background-color: var(--primary_rose);
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.details p {
  margin-bottom: 0px;
}

.details div {
  width: 100%;
  padding: 10px;
}

.rating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 5%;
  background-color: white;
}

.rating-form button {
  background-color: var(--primary_green);
  border-color: var(--primary_green);
  color: white;
}

.rating-form button:hover {
  background-color: var(--secondary_green);
  border-color: var(--secondary_green);
  color: white;
}

.rating-stars label {
  margin: 5px;
}