{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/state.css') }}">
{% endblock %}

{% block title %}
<title>States</title>
{% endblock %}

{% block body %}
<div class="state__container">
  <h1>Create State</h1>
  <form class="row" method="post" action="/state/create">
    <div class="col-4 offset-4">
      <h3>Main Information</h3>
      <!-- State Name -->
      <div class="form-group">
        <label for="stateName" class="form-label">{{form.name.label}}</label>
        {{form.name(class="form-control")}}
      </div>
      <!-- State Button Create -->
      <div class="form-group">
        <button type="submit" class="btn primary-button">Create State</button>
      </div>
    </div>
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
  </form>
</div>
{% endblock %}