{% extends "layout.html" %}

{% block title %}
<title>States</title>
{% endblock %}

{% block body %}
<div class="state__container">
  <h1>Delete State</h1>
  <form class="row" method="POST" action="/state/delete/{{state.id}}">
    <div class="col-4 offset-4">
      <h3>Main Information</h3>
      <!-- State Name -->
      <div class="form-group">
        <label for="stateName" class="form-label">Name</label>
        <input id="stateName" type="text" class="form-control" name="stateName" value="{{state.name}}" readonly>
      </div>
      <!-- State Button Create -->
      <div>Are you sure you want to delete this state?</div>
      <div class="form-group">
        <button type="submit" class="btn primary-button">Delete State</button>
      </div>
    </div>

  </form>
</div>
{% endblock %}