{% extends "layout.html" %}

{% block title %}
<title>States</title>
{% endblock %}

{% block body %}
<div class="state__container">
  <h1>Edit State</h1>
  <form class="row" method="post" action="/state/edit/{{state.id}}">
    <div class="col-4 offset-4">
      <h3>Main Information</h3>
      <!-- State Name -->
      <div class="form-group">
        <label for="stateName" class="form-label">Name</label>
        <input id="stateName" type="text" class="form-control" name="stateName" value="{{state.name}}">
      </div>
      <!-- State Button Create -->
      <div class="form-group">
        <button type="submit" class="btn state-button">Edit State</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}