{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/state.css') }}">
{% endblock %}

{% block title %}
<title>States</title>
{% endblock %}

{% block body %}
<h1>States</h1>
<div class="state__container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Monuments Count</th>
        {% if is_admin() %}
        <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for state in states %}
      <tr>
        <td>{{state.name}}</td>
        <td>{{state.monuments|length}}</td>
        {% if is_admin() %}
        <td>
          <a href="/state/edit/{{state.id}}" class="btn btn-outline-warning">Edit</a>
          <a href="/state/delete/{{state.id}}" class="btn btn-outline-danger">Delete</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
      {% if is_admin() %}
      <tr>
        <td></td>
        <td></td>
        <td><a href="/state/create" class="btn primary-button">Add new state</a></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}