{% extends "layout.html" %}

{% block title %}
<title>Home page</title>
{% endblock %}

{% block body %}
<div class="general_container">
  <p>The United States has 130 protected areas known as national monuments. The president of the United States can establish a national monument by presidential proclamation, and the United States Congress can do so by legislation. The president's authority arises from the Antiquities Act of 1906, which allows the president to proclaim "historic landmarks, historic and prehistoric structures, and other objects of historic or scientific interest" as national monuments. Concerns about protecting mostly prehistoric Native American ruins and artifacts—collectively termed antiquities—on western federal lands prompted the legislation. Its purpose was to allow the president to quickly preserve public land without waiting for legislation to pass through an unconcerned Congress. The ultimate goal was to protect all historic and prehistoric sites on U.S. federal lands, and it has resulted in designation of a wide variety of ecological, cultural and historical sites.</p>

  <p>Total agencies in the USA: {{agencies}}</p>
  <p>Total states in the USA: {{states}}</p>
  <p>Total monuments for those agencies and states in the USA: {{monuments}}</p>
  <p>Total registered users: {{users}}</p>
</div>
{% endblock %}