{% extends "layout.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block body %}
    <form action="/login" class="col-2 offset-5" method="post">
        <div class="form-group">
            <label for="username" class="form-label">{{form.username.label}}</label>
            {{form.username(class="form-control", placeholder="Username...")}}
        </div>
        <div class="form-group">
            <label for="password" class="form-label">{{form.password.label}}</label>
            {{form.password(class="form-control", placeholder="Password...")}}
        </div>
        <input type="hidden" value="{{ request.args.get('next', '') }}" name="next" />
        <button type="submit" class="primary-button">Login</button>
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
          {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
    </form>
{% endblock %}
