{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monument.css') }}">
{% endblock %}

{% block title %}
<title>Approve Monuments</title>
{% endblock %}

{% block body %}
<h1>Approve Monument</h1>
<div class="monument-container">
  {% for monument in monuments %}
  <div class="monument-item">
    <div class="monument-img-container">
      <img src="{{monument.imageurl}}" onError="this.src='assets/missing_content.png'" class="monument-img">
    </div>
    <div class="monument-body">
      <h5 class="card-title">{{monument.name}}</h5>
      <p class="card-text">{{monument.description[:100]}}...</p>
      <a href="/monument/details/{{monument.id}}" class="btn btn-read-more">Read more!</a>
      <a href="/monument/approve/{{monument.id}}" class="btn primary-button">Approve!</a>
      <a href="/monument/decline/{{monument.id}}" class="btn btn-danger">Decline!</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
