{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monument.css') }}">
{% endblock %}

{% block title %}
<title>Monument Details</title>
{% endblock %}

{% block body %}
<h1>{{monument.name}}</h1>
<div class="details-monument-container">
  <div class="details-img-container">
    <img src="{{monument.imageurl}}" onError="this.src='assets/missing_content.png'" class="details-img">
  </div>
  <div class="details">
    <div>{{monument.description}}</div>
    <div>
      <h4>Details:</h4>
      <p>Agency: {{agency.name}}</p>
      <p>State: {{state.name}}</p>
      <p>Date Established: {{monument.dateestablished}}</p>
      <p>Acres: {{monument.acres}}</p>
      <br>
      <h4>Coordinates:</h4>
      <p>Latitude: {{monument.latitude}}</p>
      <p>Longitude: {{monument.longitude}}</p>
      <br>
      {% if not isvisited %}
      <form method="post" action="/monument/visit/{{monument.id}}" class="rating-form row">
        <div class="form-group col">
          <label for="comment" class="form-label">Comment</label>
          <input id="comment" type="text" class="form-control" name="comment">
        </div>
        <div class="rating-stars">
          <label for="option1" class="form-label">Grade</label>
          <br />
          <input type="radio" name="grade" id="option1" value="1"> 1 </input>
          <input type="radio" name="grade" id="option2" value="2"> 2 </input>
          <input type="radio" name="grade" id="option3" value="3"> 3 </input>
          <input type="radio" name="grade" id="option4" value="4"> 4 </input>
          <input type="radio" name="grade" id="option5" value="5"> 5 </input>
          <input type="radio" name="grade" id="option6" value="6"> 6 </input>
        </div>
        <button type="submit" class="btn">Visit monument</button>
      </form>
      {% else %}
      <h4>Great! You have visited this place!</h4>
      <h4>Your grade was: {{visit.grade}}. Visited on: {{visit.visitedon}}.</h4>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
