{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monument.css') }}">
{% endblock %}

{% block title %}
<title>Monument</title>
{% endblock %}

{% block body %}
<div class="monument__container">
  <h1>Edit: {{monument.name}}</h1>
  <form class="row" method="post" action="/monument/edit/{{monument.id}}">
    <div class="col">
      <h3>Main Information</h3>
      <!-- Monument Name -->
      <div class="form-group">
        <label for="monumentName" class="form-label">{{form.name.label}}</label>
        {{form.name(class="form-control", value=monument.name)}}
      </div>
      <!-- Monument Description -->
      <div class="form-group">
        <label for="monumentDescription" class="form-label">{{form.description.label}}</label>
        <textarea class="form-control" id="description" name="description" rows="10" maxlength="6000">{{monument.description}}</textarea>
        <!-- {{form.description(class="form-control", rows="10", maxlength="6000")}} -->
      </div>
      <!-- State Name -->
      <div class="form-group">
        <label for="monumentState" class="form-label">State</label>
        <select id="monumentState" class="form-control" name="monumentState">
          {% for state in states %}
          <option value="{{state.id}}" {% if state.id == monument.stateid %} selected {% endif %}>{{state.name}}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Agency Name -->
      <div class="form-group">
        <label for="monumentAgency" class="form-label">Agency</label>
        <select id="monumentAgency" class="form-control" name="monumentAgency">
          {% for agency in agencies %}
          <option value="{{agency.id}}" {% if agency.id == monument.agencyid %} selected {% endif %}>{{agency.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col">
      <h3>Other Details</h3>
      <!-- Monument Latitude -->
      <div class="form-group">
        <label for="monumentLatitude" class="form-label">{{form.latitude.label}}</label>
        {{form.latitude(class="form-control", value=monument.latitude)}}
      </div>
      <!-- Monument Longitude -->
      <div class="form-group">
        <label for="monumentLongitude" class="form-label">{{form.longitude.label}}</label>
        {{form.longitude(class="form-control", value=monument.longitude)}}
      </div>
      <!-- Monument Image URL -->
      <div class="form-group">
        <label for="monumentImageUrl" class="form-label">{{form.imageurl.label}}</label>
        {{form.imageurl(class="form-control", value=monument.imageurl)}}
      </div>
      <!-- Monument Date Established -->
      <div class="form-group">
        <label for="monumentEstablished" class="form-label">{{form.dateestablished.label}}</label>
        {{form.dateestablished(class="form-control", value=monument.dateestablished)}}
      </div>
      <!-- Monument Acres -->
      <div class="form-group">
        <label for="monumentAcres" class="form-label">{{form.acres.label}}</label>
        {{form.acres(class="form-control", value=monument.acres)}}
      </div>
    </div>
    <!-- Monument Button Edit -->
    <div class="form-group">
      <button type="submit" class="btn primary-button">Edit Monument</button>
    </div>
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
  </form>
</div>
{% endblock %}